{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="auth-container">
    <div class="auth-card">
        <h2>Bávaro Shop</h2>
        <p class="subtitle">Crear nueva contraseña</p>

        {% if validlink %}

        <form method="post">
            {% csrf_token %}

            <div class="form-group">
                <label>Nueva contraseña</label>
                {{ form.new_password1 }}
            </div>

            <div class="form-group">
                <label>Confirmar contraseña</label>
                {{ form.new_password2 }}
            </div>

            <button type="submit" class="btn-primary">
                Guardar contraseña
            </button>
        </form>

        {% else %}
            <p class="error">
                El enlace no es válido o ya fue usado.
            </p>
        {% endif %}
    </div>
</div>
{% endblock %}
