{% extends "base.html" %}

{% block content %}

<!-- HERO SECTION -->
<section class="bg-gradient-to-r from-blue-800 via-blue-600 to-green-600 py-4 sm:py-6 text-white">

    <div class="max-w-4xl mx-auto px-4">
       <h1 class="text-3xl sm:text-5xl font-bold mb-4 leading-tight">

            Descubre lo mejor de Bávaro Shop
        </h1>
      <p class="text-sm sm:text-lg opacity-90 max-w-2xl">

            Productos seleccionados con calidad premium y estilo moderno.
        </p>
    </div>
</section>

<!-- PRODUCTOS -->
<section class="bg-gray-100 py-8 sm:py-16">

    <div class="max-w-7xl mx-auto px-6">

        <h2 class="text-3xl font-bold text-gray-800 mb-10">
            Productos disponibles
        </h2>

 <div class="grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 sm:gap-8">


            {% for producto in productos %}

            <div class="bg-white rounded-2xl shadow-md hover:shadow-xl transition duration-300 overflow-hidden flex flex-col">

                <!-- Imagen -->
              <div class="bg-gray-50 p-3 flex justify-center items-center h-40 sm:h-52 overflow-hidden">
    {% if producto.image %}
        <img src="{{ producto.image.url }}" 
             class="max-h-full object-contain transition duration-300 hover:scale-105">
    {% endif %}
</div>

                <!-- Info -->
                <div class="p-6 flex flex-col flex-grow">

                    <h3 class="text-lg font-semibold text-gray-800 mb-2">
                        {{ producto.name }}
                    </h3>

                    <p class="text-green-600 text-xl font-bold mb-4">
                        RD$ {{ producto.price|floatformat:2 }}
                    </p>

                    <div class="mt-auto">

                        <a href="{% url 'product_detail' producto.slug %}"
                           class="block w-full text-center bg-gray-800 text-white py-2 rounded-lg mb-3 hover:bg-gray-900 transition">
                            Ver detalle
                        </a>

                       

                    </div>

                </div>

            </div>

            {% endfor %}

        </div>

    </div>
</section>

{% endblock %}
